li{
    list-style: none;
}
.nav{
    display: flex;
    padding: 2rem 5rem;
    color: black;
    width: 100vw;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li:not(:last-child){
    margin-right: 2rem;
}
html{
    background: linear-gradient(180deg, #DED9EB 0%, #7A60B9 143.69%);
}
main{
    padding: 2rem 2rem;
}
.main-header{
    display: grid;
    align-items: center;
}
.main-header img{
    border-radius: 3rem;
    height: calc(100% -2rem);
    padding: 2rem;
}
.btn-group{
    display: grid;
    max-width: 20em;
    margin: 0 auto;
}
.btn{
    background-color: #7153C6;
    color: white;
    border-radius: 10rem;
    padding: 1rem 2.2rem;
    border: none;
}
form{
    padding: 2rem 2rem;
    background-color:#242439 ;
    border-radius: 4rem;
    color: white;
    text-align: center;

}
.input-classes{
    margin-bottom: 2rem;
    display: grid;
    max-width: 20rem;
    text-align: left;
    margin: 0 auto;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #DED9EB;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 700px) {
    .main-header{
    max-width: 80rem;
}
.btn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form{
    padding: 3rem 2rem;
}
}
@media screen and (min-width:1000px) {
    main{
    padding: 2rem 7rem;
}
.main-header{
    display: flex;
}
form{
    width: 40vw;
}
footer{
    padding: 2rem 7rem;
}
}