{% extends "base.html" %}

{% block head %}
    <html lang="en">
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../static/css/about.css">
    </head>
{% endblock %}

{% block content %}
    <main>
        <section>
            <div class="overlay">
                <h1>Welcome to BizLink</h1>
                <div class="about-column">
                    <div class="about-content">
                        <p>Advertise Your Business</p>
                        <h5>We help you grow and earn more</h5>
                        <h5>Interested to join our community</h5>
                    </div>
                    <div>
                        <button>
                            <a class="login" href="{{ url_for('auth.login') }}">
                                I'm Ready!
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}