{% extends "base.html" %}

{% block head %} <title>Login</title> {% endblock %}

{% block content %}
    <div class="container"
         style="max-width: 40%; align-items: center; background-color: #fefeff; border-radius: 8px; padding: 10px;">
        <form method="POST">
            <img src="../static/img/user-g29e70eb6b_1920.png" alt="" height="150px" id="loginImage"
                 style="display: block; margin-left: auto; margin-right: auto;">
            <h3>Sign up</h3>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your company name"
                       required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                       required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2"
                       placeholder="Re-enter Password" required>
            </div>
            <br>
            <p style="text-align: center;">Already an existing user? <a href="/login" type="link">login</a> here</p>
            <div class="submitBtn">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock %}
